// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$text-color: #222222;
$text-light1-color: #42474c;
$text-light2-color: #6b7177;

$primary-dark1-color: #2b6777;
$primary-color: #52ab98;
$primary-light1-color: #c8d8e4;

$common-white: #ffffff;
$common-black: #000000;

$grey-1: #f2f2f2;

$warningColor: #c43256;
$warningLight1Color: #c432571f;
