.create-container {
    height: calc(100vh - 90px);
    display: flex;
    .form {
        border: 1px solid black;
        flex-basis: 70%;
        &__wrapper {
            max-width: 700px;
            margin: auto;
            border: 1px solid green;
        }
    }
    .animations {
        border: 1px solid black;
        flex-basis: 30%;
    }
}
