.create-container {
    height: calc(100vh - 90px);
    display: flex;
    .form {
        border: 1px solid black;
        flex-basis: 70%;
    }
    .animations {
        border: 1px solid black;
        flex-basis: 30%;
    }
}
